
<h1>Communities</h1>
<%= link_to "New", new_community_path, class:"btn btn-success mt-3" %>

<div class="text-center">
	<div class="row">
		<% @communities.each do |community| %>
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"><%= community.name %></h5>
						<%= link_to "Enter", community_posts_path(community), class: "btn btn-success mt-3" %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>




