<p id="notice"><%= notice %></p>

<h1>Communities</h1>

<table class="table">
	<thead>
	<tr>
		<th>Community</th>
		<th>Description</th>
		<th colspan="2"></th>
	</tr>
	</thead>
	
	<tbody>
	<% @communities.each do |community| %>
		<tr>
			<td><%= link_to community.name, community %></td>
			<td><%= community.description %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<%= link_to "New", new_community_path, class:"btn btn-success mt-3" %>

